<div class="container">
    <form [formGroup]="questionnaireForm">
        <div
            class="questionnaire-container"
            *ngFor="let item of questionnaire; first as isFirst; last as isLast"
        >
            <div [id]="item.identifier">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title
                            >{{ item.headline }}
                            {{ item.required && '*' }}</mat-card-title
                        >
                    </mat-card-header>

                    <mat-card-content class="mt-5" align="center">
                        <div
                            *ngIf="
                                item.question_type ==
                                    selectionType.MultiChoice && !item.multiple
                            "
                        >
                            <div>
                                <mat-radio-group
                                    [formControlName]="item.identifier"
                                >
                                    <div *ngFor="let choice of item.choices">
                                        <mat-radio-button
                                            [value]="choice.value"
                                            >{{
                                                choice.value
                                            }}</mat-radio-button
                                        >
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div
                            *ngIf="
                                item.question_type == selectionType.Text &&
                                item.multiline
                            "
                        >
                            <mat-form-field
                                class="width-100"
                                appearance="outline"
                            >
                                <mat-label>{{ item.headline }}</mat-label>
                                <textarea
                                    matInput
                                    [placeholder]="item.headline"
                                    [formControlName]="item.identifier"
                                ></textarea>
                            </mat-form-field>
                        </div>
                        <div
                            *ngIf="
                                item.question_type == selectionType.Text &&
                                !item.multiline
                            "
                        >
                            <mat-form-field
                                class="width-100"
                                appearance="outline"
                            >
                                <mat-label>{{ item.headline }}</mat-label>
                                <input
                                    matInput
                                    [placeholder]="item.headline"
                                    [formControlName]="item.identifier"
                                />
                            </mat-form-field>
                        </div>
                    </mat-card-content>

                    <mat-card-actions align="end">
                        <button
                            *ngIf="!isFirst"
                            mat-button
                            (click)="scrollBackTo(item)"
                        >
                            Previous
                        </button>
                        <button
                            [disabled]="
                                questionnaireForm.get(item.identifier)?.invalid
                            "
                            *ngIf="!isLast"
                            mat-button
                            (click)="scrollTo(item)"
                        >
                            Next
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </form>
    <button
        [disabled]="questionnaireForm.invalid"
        class="submit-btn"
        mat-raised-button
        color="primary"
        (click)="submit()"
    >
        Submit
    </button>
</div>
