<mat-toolbar class="app-toolbar" color="primary">
    <mat-toolbar-row>
        <span>Questionnaire</span>
        <span class="spacer"></span>
        <button
            mat-button
            matTooltip="With Scroll Disabled"
            routerLink="/questionnaire/v1"
            routerLinkActive="active"
        >
            V1
        </button>
        <button
            mat-button
            matTooltip="With Scroll Enabled"
            routerLink="/questionnaire/v2"
            routerLinkActive="active"
        >
            V2
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
